<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GEMITES</title>
  <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='style.css') }}" >
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik:wght@400;500;600;700&family=Shadows+Into+Light&display=swap"
    rel="stylesheet">
    


  </head>

<body id="top">
    

  <header class="header" data-header>

    <div class="container">

      <h1>
        <a href="#" class="logo">GEMITES<span class="span">.</span></a>
      </h1>

      <nav class="navbar" data-navbar>
      </nav>
      <div class="header-btn-group">
  </header>
  </div>
  <main>
    <article>
      <div id="loading-section">
        <img src="static/hello2.gif">
      </div>
      <section class="hero" id="home" style="background-image: url('static/img1.png')">
        <div class="container">

          <div class="hero-content">

            
            <h2 class="h1 hero-title">GEMITES</h2>

            <p class="hero-text">Easiest way for sign language translation</p>
          
            <button id="btn" href=#section2>Get Started</button>

          </div>

          

            
          </figure>

        </div>
</section>
<div id="videoContainer">
    <img id="videoElement" src="{{ url_for('video_feed') }}" />
    <div id="recognizedWord"></div>
  </div>
    
      <section id="section2">
      <div class="flex-container" >
        <div class="left-box">
          <h1 id="label">Welcome to XYZ!!</h1>
          <p padding="10px">Convert speech to signlanguage anywhere and anytime</p>
          <button id="openPopupBtn">Show me how</button>
    <div class="popup-overlay" id="popupOverlay">
        <div class="popup-content">
            <h2>Demo</h2>
            <p>Click on the microphone and speak.</p>
            <img src="static/bird-wings-flying-feature.gif" width="550px">
            <button class="close-btn" id="closePopupBtn">Close</button>
        </div>
    </div>
          <div id="container"></div>
        </div>
        <div class="middle-box">
          <h1 id="label">Sign Language</h1>
          <img src="{{ url_for('video_feed') }}" >
          <div id="container"></div>
          
        </div>
        <div class="right-box">
          <div class="box">
            
            <form id="fileForm">
              <div class="form-container">
                
                <div class="subsection">
                  
                </div>
              
             
            </form>
            
            <button class ="light" type="submit" style="margin-left:10px; margin-right:auto; border:none">
                    
            </button>
            
          </div>
        </div>
      </div>
  
</section>
</body>

</html>
